/* MOBILE PORTRAIT */
@media only screen and (min-width: 320px) {
	
}

/* MOBILE LANDSCAPE */
@media only screen and (min-width: 480px) {
	
}

/* SMALL TABLET */
@media only screen and (min-width: 600px) {
	
}

/* TABLET/NETBOOK */
@media only screen and (min-width: 768px) { 
	
}

/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (min-width: 1024px) { 
	
}

/* DESKTOP */
@media only screen and (min-width: 1280px) { 
	
}

/* WIDESCREEN */
/* Increased body size for legibility */
@media only screen and (min-width: 1400px) { 
	body { font-size:116.75%; } /* 18.5px / 28px */
}